.card-dashboard {
    display: flex;
    gap: 1vw;
}

.main-dashboard {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.chart-alert {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    height: 60vh;
}

.chart {
    flex: 2;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--background-component);
    border: var(--border-color);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.alert {
    flex: 1;
    background-color: var(--background-component);
    border: var(--border-color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.header-alert {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-alert h1 {
    font-size: medium;
}

.header-alert p {
    font-size: small;
    padding: 0px 12px 0px 12px;
    border-radius: 10px;
    background-color: #20131f;
    color: rgb(207, 5, 5);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


.main-alert {
    padding: 1vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}