.instrument-page {
    width: 100%;
}

.instrumen-page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.instrument-page-content-header {
    display: flex;
}