body {
    overflow: hidden;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas:
        "sidebar header"
        "sidebar main";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 80px 1fr;
    overflow: hidden;
}

.sidebar {
    grid-area: sidebar;
    border-right: solid #20283c 1px;
    background-color: #070a13;
}

.header {
    grid-area: header;
    border-bottom: solid #20283c 1px;
    background-color: #090e1a;
    padding: 2vw;
}

.header div {
    gap: 5px;
    align-items: center;
    display: flex;
}

.main {
    display: flex;
    height: 100%;
    flex-direction: column;
    padding: 2vw;
    gap: 5vh;
    grid-area: main;
    background-color: #080c16;
    overflow-x: hidden;
    overflow-y: auto;
}

.operations h1 {
    font-size: x-large;
}


.operations p {
    color: #4a5565;
    font-size: small;
}


.dashboard-card {
    justify-content: center;
    align-items: center;
    gap: 1vw;
    display: flex;
}

/* .container-chart-alert {
    gap: 1vw;
    display: flex;
    height: auto;
} */

/* .chart {
    flex: 2;
    height: 50vh;
    background-color: #20283c;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.alert {
    flex: 1;
    background-color: #20283c;
} */

.container-table {
    flex: 1;
    width: 100%;
    min-width: 0;
    height: 100%;
}