.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas:
        "sidebar header header"
        "sidebar main main";
    grid-template-columns: 1.2fr 3fr 3fr;
    grid-template-rows: 80px;
    overflow-y: hidden;
}

.sidebar {
    border-right: solid #20283c 1px;
    grid-area: sidebar;
    background-color: #070a13;
}

.header {
    grid-area: header;
    border-bottom: solid #20283c 1px;
    background-color: #090e1a;
}

.main {
    padding: 2vw;
    grid-area: main;
    background-color: #080c16;
    overflow-y: scroll;
}



.operations h1 {
    font-size: x-large;
}


.operations p {
    color: #4a5565;
    font-size: small;
}


.dashboard-card {
    justify-content: center;
    align-items: center;
    gap: 1vw;
    display: flex;
}

.container-chart-alert {
    display: flex;
}

.chart{

}

.alert{
    
}